* {
  margin: 0%;
  padding: 0;
}

body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: 1f1,1fr;
  height: 100vh;
  background: #aa8b56;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 0em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.holder.headline {
}
.holder {
  position: relative;
  display: inline-block;
  padding: 0px 0;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  font-size: 50px;
  color: aliceblue;
  height: 70px;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #f0ebce;
  color: black;

  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #f0ebce;
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #b0ad9a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
